@import 'variables';
@import 'mixins';

.excel__header {
    height: $header-height;
    padding: 8px 4px 0;
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .input {
        height: 20px;
        min-width: 1px;
        margin: 0;
        padding: 2px 7px;

        font-size: 18px;
        line-height: 22px;
        color: #000;

        border: 1px solid transparent;
        border-radius: 2px;
        outline: none;

        transition: all 0.15s ease-in-out;

        &:hover {
            border: 1px solid $border-color;
        }

        &:focus {
            border: 1px solid #1a73e8;
        }
    }

    .button {
        @include button(red);
    }
}