@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

@import 'header';
@import 'toolbar';
@import 'formula';
@import 'table';
@import 'dashboard';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.excel {
    height: 100%;
    max-width: 100%;
    position: relative;

    font-size: .8rem;
    color: #888;
}