@import 'variables';
@import 'mixins';

.excel__toolbar {
    height: $toolbar-height;
    padding: 7px 10px;
    display: flex;

    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    .button {
        @include button(green);
    }
}